kind: Secret
apiVersion: v1
metadata:
  name: aws-connection-my-storage
  labels:
    opendatahub.io/dashboard: 'true'
    opendatahub.io/managed: 'true'
  annotations:
    opendatahub.io/connection-type: s3
    opendatahub.io/connection-type-ref: s3
stringData:
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_DEFAULT_REGION: us-east-1
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  AWS_S3_BUCKET: models
  AWS_ENDPOINT_URL: http://${AWS_ENDPOINT_URL}:${AWS_S3_PORT}
  AWS_S3_ENDPOINT: http://${AWS_S3_ENDPOINT}:${AWS_S3_PORT}
type: Opaque
