kind: Secret
apiVersion: v1
metadata:
  name: aws-connection-my-storage
  labels:
    opendatahub.io/dashboard: 'true'
    opendatahub.io/managed: 'true'
  annotations:
    opendatahub.io/connection-type: s3
    opendatahub.io/connection-type-ref: s3
data:
  AWS_ACCESS_KEY_ID: bWluaW8=
  AWS_DEFAULT_REGION: dXMtZWFzdC0x
  AWS_SECRET_ACCESS_KEY: bWluaW8xMjM=
stringData:
  AWS_S3_BUCKET: models
  AWS_ENDPOINT_URL: http://${AWS_ENDPOINT_URL}:9000
  AWS_S3_ENDPOINT: http://${AWS_ENDPOINT_URL}:9000
type: Opaque
